/* BETTY */

/* 
*
* Theme
*
*/

* {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #202020;
    min-height: 100vh;
    /* padding-bottom: 75px; */
}

.btn-mubi {
    background-color: #E1AD01;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-mubi-secondary {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #F2E9CA;
    color: #F2E9CA;
}

.btn-mubi-secondary:hover {
    border: 1px solid #E15201;
    color: #E15201;
}

.btn-mubi:hover {
    background-color: #E15201;
}

/* 
*
* NAV
*
*/

.navbar {
    padding: 15px 0 18px 0;
}

.navbar a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbar .menu {
    display: flex;
}

.navbar a:hover {
    color: #E1AD01;
}

.logo {
    height: 25px;
}

/* 
*
* FORM
*
*/

.form-group {
    padding: 10px 0;
}

.footer-copyright {
    color: #202020;
}

/* 
*
* FOOTER
*
*/

#tickets footer,
#booking footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer {
    background-color: #E1AD01;
    /*position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 0; */
    /* padding-top: 200px; */
}

.footer-copyright {
    color: #202020;
}

/* 
*
* Home
*
*/

#home .movieTitle {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1;
}

#home .container {
    width: 75%;
    padding: 50px 0;
}

#home .movie-banner {
    width: 100%;
    position: relative;
    margin-top: 30px;
}

#home .movie-banner img {
    width: 100%;
}

#home .movie-banner .overlay {
    width: 40%;
    position: absolute;
    top: 70px;
    left: 100px;
}

#home .movie-banner .overlay  a {
    margin-top: 20px;
}

#home .home-nav {
    background-color: #F2E9CA;
    text-align: center;
    color: #202020;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#home #nowShowing,
#home #comingSoon {
    cursor: pointer;
}

/* 
*
* Movie
*
*/

#movie .container {
    width: 75%;
    padding: 50px 0;
}

#movie .banner {
    position: relative;
    width: 100%;
}

#movie .banner .video-cover {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
}

#movie .banner .play-btn {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#movie .poster {
    width: 100%;
}

#movie .movie-details {
    padding-left: 20px;
}

#movie .label {
    color: #E1AD01;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#movie .title {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}

#movie .details {
    padding-bottom: 6px;
}

#movie .booking {
    padding-top: 10px;
}

.subheading {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 20px;
}

#movie #date option,
#movie #date {
    color: #202020;
    padding: 5px 15px;
}

#movie .times {
    margin-top: 5px;
}

#movie .time {
    font-family: 'Bebas Neue', sans-serif;
    color: #E1AD01;
    padding: 5px 20px;
    border: solid white 1px;
    margin-right: 10px;
    border-radius: 5px;
}

/* 
*
* Booking
*
*/

#booking .container {
    width: 75%;
    margin: 30px auto;
    padding-bottom: 50px;
}

#booking .summary-container {
    background-color: #F2E9CA;
    margin-bottom: 30px;
    margin-top: 10px;
}

#booking .countdown {
    background-color: #fff;
    padding: 10px 30px;
}

#booking .summary {
    padding: 30px;
    padding-bottom: 35px;
    text-transform: uppercase;
}

#booking .countdown span {
    color: #202020 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .9em;
}

#booking .label {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .9em;
}

#booking .label,
#booking .text,
#booking .total {  
    color: #202020;
}

#booking .page-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding-bottom: 20px;
}

#booking .title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    color: #202020;
    line-height: 1em;
    padding: 8px 0;
}

#booking .total {
    font-weight: 700;
}

#booking hr {
    background-color: #E1AD01;
    height: 2px;
}

#booking .btn-mubi {
    width: 100%;
    margin-top: 20px;
}

#booking .ticket-items {
    width: 80%;
}

#booking .ticket-items td {
    padding: 5px 0;
}

#booking .ticket-items input {
    width: 50px;
    color: #202020;
    text-align: center;
}

#booking .summary span {
    color: #202020;
}

#booking .number {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: #E1AD01;
    line-height: .2em;
    padding-right: 10px;
    display: inline;
}

#booking .subheading {
    margin-top: 0;
    display: inline;
}

#booking .step2 {
    margin-top: 30px;
}

#booking .seats .seat {
    height: 30px;
    width: 30px;
    border: 3px solid #202020;
    background-color: #E15201;
    cursor: pointer;
}

#booking .seats .free {
    background-color: #F2E9CA;
}

#booking .seats .container {
    width: 600px;
    margin-left: 0;
    padding-left: 10px;
    /* background-color: red; */
}

#booking .seats .seat:hover {
    background-color: #fff;
}

#booking .step3 .btn-container {
    padding: 10px 0 20px 0;
}

#booking .details {
    padding-top: 20px;
}

#booking .step4 {
    padding-top: 30px;
}

#booking .step4 input {
    margin-bottom: 15px;
    color: #202020;
    width: 60%;
}


#booking .print-btn {
    width: auto;
    margin-top: 15px !important;
}
/* #pay, .step3, .step4, #back {
    display: none;
} */

/* 
*
* Ticket
*
*/

#tickets .container {
    width: 75%;
}

#tickets .page-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding-bottom: 20px;
}

#tickets .description {
    width: 90%;
}

#tickets .container {
    margin: 50px auto;
    /* margin-bottom: 100px; */
    width: 70%;
    /* min-height: 70vh; */
}

#tickets .ticket {
    padding: 40px;
    background-color: #F2E9CA;
    text-align: center;
    margin-bottom: 30px;
}

#tickets .ticket img {
    width: 140px;
}

#tickets .ticket .title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7em;
    padding: 20px 0 10px 0;
    line-height: 1em;
    color: #202020;
}

#tickets .ticket .description {
    text-transform: uppercase;    
    color: #202020;
}

#tickets .ticket-container {
    margin-top: 30px;
}

#tickets .btn-mubi {
    /* width: 100%; */
    margin-top: 0;
}

/* 
*
* Edit Account
*
*/

#editAccount {
    width: 80%;
    margin: 50px auto;
}

/* 
*
* Login
*
*/

#login {
    height: 80vh;
    width: 100%;
    position: relative;
}

#login .login-container,
#signup .login-container {
    width: 700px;
    /* height: 500px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login .btn-mubi,
#signup .btn-mubi {
    margin-top: 20px;
}

/* 
*
* States
*
*/

.mustard-bg {
    background-color: #E1AD01 !important;
}

.corn-bg {
    background-color: #F2E9CA !important;
}

.orange-bg {
    background-color: #E15201 !important;
}

.right {
    text-align: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/*
*
* Print
*
*/

@media print {
    nav, .no-print, footer {
        display: none !important;
    }

    .ticket {
        border: 1px solid black;
    }
}

/*
*
* Mobile
*
*/

@media only screen and (max-width: 768px) {
    .btn {
        font-size: .8rem;
    }
    
    .btn-mubi {
        padding: 4px 10px;
    }
    
    #home .container,
    #movie .container {
        width: 90%;
    }

    #movie #moviePoster {
        display: none;
    }
    
    #home .movie-banner .overlay {
        width: 90%;
        top: 10px;
        left: 10px;
    }
    
    #home .movieTitle,
    #movie .title {
        font-size: 1.8em;
        line-height: 1;
    }

    #movie .title {
        margin: 15px 0;
        font-size: 2.4em;
    }

    #movie .movie-details {
        padding: 0;
    }
    
    #home .movie-banner .overlay a {
        margin-top: 10px;
    }
    
    #home .movieDescription {
        display: none;
    }
    
    #home #comingSoon, #home #nowShowing {
        padding: 10px;
        font-size: .8em;
        line-height: 1;
    }

    #movie .banner .video-cover {
        height: 200px;
    }

    #movie .banner .play-btn {
        height: 60px;
        width: 60px;
    }

    #movie .yt-video {
        height: 200px;
    }

    .row {
        overflow: scroll;
    }

    #booking .container {
        padding-bottom: 10px;
        width: 90%;
    }

    #booking .summary {
        margin-bottom: 75px;
    }

    #booking .details {
        padding-top: 20px;
        /* padding-left: 20px; */
    }

    #booking .step4 {
        padding-bottom: 40px;
    }

    #booking .step4 input {
        width: 100%;
    }

}


